.profile__user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media(max-width: 710px) {
  .profile__user-name {
    justify-content: center;
  }
}
