.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 74px;
  border-block-end: solid 1px rgba(84, 84, 84, 0.7);
  margin: 45px auto 39px;
}

@media(max-width: 420px) {
  .header {
    margin: 28px auto 41.5px;
    min-height: 56px;
  }
}



